@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap');

:root{
    --gray: #adadad;
    --bg: #050505;
    --white: #fafafa;
    --black: #1D1B1B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--bg);
}

body{
    max-width: 600px;
    margin: auto;
    padding-right:1.5rem;
    padding-left: 1.5rem;
}

main{
    max-width: 600px;
    padding-top:0;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    color:var(--white);
}
.redes-button:focus{background: none;}
.email-link:focus{background: none;}
a:focus{background:none;}

a{
    color: var(--white);
    text-decoration: none;
}

#header{
    padding-top: 50px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header>p{
    font-weight: 700;
    font-size: 22px;
}

.redes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.redes-button{
    font-size: 24px;
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition:all 0.3s ease;
}

.redes-button:hover{color: var(--white);}

.linha{
    background-color: var(--black);
    height: 2px;
    width:auto;
}

section{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

section>h6{
    font-weight: 500;
    color: var(--gray);
}

article{
    padding: 0;
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    gap:30px
}

.card{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image{
    position: relative;
}
.image>img{
    display: block;
    border-radius: 10px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.40s;
}

.overlay:hover{
    opacity: 1;
}

.card>p{
    color: var(--gray);
}

#artigos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-card{
    padding: 15px;
    background-color: var(--black);
    border-radius: 8px;
}

.post-bt{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    justify-content: end;
    margin-top: 15px;
}

.post-bt>p{
    font-size: 16px;
}
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-email{
    color:var(--white);
    font-size: 24px;
}

.ft-txt{
    color: var(--gray);
    font-size: 13px;
}