@import url(https://fonts.bunny.net/css?family=inter:400,500,600,700);

:root{
    --gray: #adadad;
    --bg: #050505;
    --white: #fafafa;
    --black: #1D1B1B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    color: var(--white);
}

body{
    max-width: 600px;
    margin: auto;
    padding-right:1.5rem;
    padding-left: 1.5rem;
    background-color: var(--bg);
    display: flex;
    flex-direction:column;
    gap: 40px;
    opacity: 0;
}

body.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

a{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}
span{
    font-weight: 600;
}

main{
    max-width: 600px;
    padding-top:0;
}

h3{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}

h4{
    font-weight: 500;
    padding-top: 5px;
}

/* HEADER */

header{
    padding-top: 40px;
    text-align: center;
}

header p{
    font-weight: 500;
}

header p span{
    font-weight: 700;
    font-size: 20px;
}

article{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}
.card>p{
    color: var(--gray);
    font-size: 14px;
}

.wrapper{
    height: auto;
    width: auto;
    overflow: hidden;
    border-radius: 10px;
}

.wrapper img{
    transition: 0.5s ease;
}

.wrapper img:hover{
    transform: scale(1.1);
}

.posts{
    display: flex;
    height: 100%;
    border-bottom: 1px solid var(--gray);
    padding: 15px 0px 15px 0px;
    justify-content:space-between;
    align-items: center;
}

.links{
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.links-b{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #fafafa;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.links-b:hover{
    color:var(--bg);
    background-color: var(--white);
}

footer{
    color: var(--gray);
    font-size: 13px;
    padding-bottom: 30px;
}

@media screen and (max-width: 480px){
    article{
        flex-wrap: wrap;
        gap:20px;
    }
    .card{
        width: 100%;
    }
    h3{
        font-size: 18px;
    }

    h4{
        font-size: 16px;
    }
    
}